services:
  backend:
    image: 'gestion-stock-backend:latest'
    build:
      context: .
      args:
        VERSION: 1.0-SNAPSHOT
    container_name: gestion-stock-backend
    depends_on:
      - database
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://database:5432/postgres
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=admin
    networks:
      gestion-stock-network:
        aliases:
          - backend
        ipv4_address: 172.0.10.5
    ports:
      - "8080:8080"
    restart: always

  frontend:
    image: 'gestion-stock-frontend:latest'
    build:
      context: ../gestion-stock-frontend
    container_name: gestion-stock-frontend
    depends_on:
      - backend
    networks:
      gestion-stock-network:
        aliases:
          - frontend
        ipv4_address: 172.0.10.2
    ports:
      - "80:80"
    restart: always

  database:
    image: 'gestion-stock-postgres:latest'
    build:
      context: .
      dockerfile: Dockerfile.db
    container_name: gestion-stock-database
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=admin
    volumes:
      - .\postgresql_backup:/backups
      - .\postgresql_scripts:/scripts
    networks:
      gestion-stock-network:
        aliases:
          - database
        ipv4_address: 172.0.10.3
    ports:
      - "5432:5432"
    restart: always

  # https://stackoverflow.com/questions/79816427/keycloak-frontend-backend-network-configuraion-in-docker-compose-for-localhost
  keycloak:
    image: 'quay.io/keycloak/keycloak:26.4.2'
    container_name: gestion-stock-keycloak
    networks:
      gestion-stock-network:
        aliases:
          - keycloak
        ipv4_address: 172.0.10.4
    command:
      - start-dev
      - --import-realm
    environment:
      KC_HOSTNAME: auth.localhost
      KC_HTTP_ENABLED: "true"
      KC_HTTP_PORT: 8095

      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME_BACKCHANNEL_DYNAMIC: "false"

      KC_HOSTNAME_BACKCHANNEL: http://keycloak:8095

      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
    volumes:
      - ./keycloak-config:/opt/keycloak/data/import
    ports:
      - "8095:8095"
    restart: always

networks:
  gestion-stock-network:
    name: gestion-stock-network
    driver: bridge
    ipam:
      config:
        - subnet: 172.0.10.0/24
          gateway: 172.0.10.1
