spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: root
    password: admin
    driverClassName: org.postgresql.Driver

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8081/realms/gestion-stock

gestion-stock:
  security:
    allowed-origins:
      - http://localhost:4200
    allowed-methods:
      - GET
      - POST
      - PUT
      - DELETE
      - PATCH
      - OPTIONS
    allowed-headers:
      - Authorization
      - Content-Type